#error-page {
  padding: 120px 0;
  .error-page {
    h1 {
      margin-top: 20px;
      text-align: center;
      color: #164d3c;
      font-weight: 600;
      font-size: 50px;
    }
    p {
      margin-top: 20px;
      text-align: center;
      color: #1c5846;
      font-weight: 500;
      font-size: 25px;
      .text-danger {
      font-weight: 600;
        color: rgb(201, 1, 1);
      }
    }
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
      button {
        border: 0;
        outline: 0;
        background-color: #d8e3d5;
        padding: 15px 20px;
        width: 140px;
        font-size: 14px;
        font-weight: 600;
        color: #134d3b;
        cursor: pointer;
        transition: all 0.4s;
        &:hover {
          background-color: #cdd3cb;
        }
      }
    }
  }
}
